@page "/sign-in"
@using dnp_assignment_4.Data
@using dnp_assignment_4.Authentification


@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserServiceImpl

<AuthorizeView>
    <NotAuthorized>
        <div>
            <label>Email address:</label>
            <input type="email" placeholder="Email address" @bind-value="email" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" placeholder="Password" @bind-value="password" />
        </div>
        <div style="color:red">@errorMessage</div>

        <a href="" @onclick="PerformLogin">
            Login
        </a>
    </NotAuthorized>
    <Authorized>
        <a href="" @onclick="PerformLogout">
            Log out
        </a>
    </Authorized>
</AuthorizeView>

@code {
    private string email;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).ValidateLogin(email, password);
            email = "";
            password = "";
        }
        catch (Exception e)
        {
            Console.Write(e.Message);
            errorMessage = e.Message;
        }
    }

    public async Task PerformLogout()
    {
        errorMessage = "";
        email = "";
        password = "";
        try
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.Write(e.Message);
        }
    }

}