@page "/sign-up"

@using dnp_assignment_4.Data
@using dnp_assignment_4.Models
@using dnp_assignment_4.Authentification

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserServiceImpl

<AuthorizeView>
    <NotAuthorized>
        <div>
            <label>First name:</label>
            <input type="text" placeholder="First name" @bind-value="firstName" />
        </div>
        <div>
            <label>Last name:</label>
            <input type="text" placeholder="Last name" @bind-value="lastName" />
        </div>
        <div>
            <label>Email address:</label>
            <input type="email" placeholder="Email address" @bind-value="email" />
        </div>
        <div>
            <label>Username:</label>
            <input type="username" placeholder="Username" @bind-value="username" />
        </div>
        
        <div>
            <label>Password</label>
            <input type="password" placeholder="Password" @bind-value="password" />
        </div>
        <div style="color:red">@errorMessage</div>

        <a href="" @onclick="PerformRegister">
            Register
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string email;
    private string firstName;
    private string lastName;
    private string username;
    private string password;
    private string errorMessage;
    
    public async Task PerformRegister()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).ValidateRegistration(new User()
            {
                Email = email,
                FirstName =  firstName,
                Password = password,
                SecondName = lastName,
                UserName = username
            });
            email = "";
            password = "";
        }
        catch (Exception e)
        {
            Console.Write($"logine xception: {e.Message}");
            errorMessage = e.Message;
        }
    }
}