@page "/family/{familyId}/adult/{adultId}/delete"
@using dnp_assignment_4.Data
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl
@inject IAdultService AdultService
<h3>AdultDelete</h3>

Are you sure you want to delete the adult with id @adultId from family @familyId?

<button @onclick='DeleteAdult'>Yes</button>
<button @onclick='Cancel'>No</button>

@code {
    [Parameter]
    public string familyId { get; set; }

    [Parameter]
    public string adultId { get; set; }

    public async Task DeleteAdult()
    {
        await AdultService.RemoveAdult(Int32.Parse(adultId));
        NavigationManager.NavigateTo($"family/{familyId}/edit");
    }

    public async Task Cancel()
    {
        NavigationManager.NavigateTo($"family/{familyId}/edit");
    }
    
}